<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-sclae=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Guess Your Matchpoint with Your Beloved Food </title>
</head>

<body>
    <h1> 지금 생각나는 음식을 입력하세요. </h1>
    <p>
        19,000,000개 이상의 빅데이터를 기반으로 음식과 궁합을 봐드립니다.
    </p>
    <form action="/matchresult">
        <input type="text" placeholder="ex) 이름" name="name"/>
        <input type="text" placeholder="ex) 치킨" name="food"/>
        <input type="submit" value="전송"/>
    </form>
</body>
</html>
